.nav1{
	font-weight: bold;
	padding-top: 30px;
	padding-right:20px;
}

/*tr:nth-child(even){
	background-color: rgba(0, 0, 0, 0.8);
}

tr:nth-child(odd){
	background-color: rgba(0, 0, 0, 0.3);
}*/

.corps{
	/*font-family: 'Catamaran', sans-serif;*/
	/*color: white;*/
	/*background-image: url(../image/5.JPG);*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	/*background-image: url(../images/1.JPG);*/
	/*background-color: #4158D0;*/
	/*bssackground-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%) !important;*/

}
.profil{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 70px;
}
.profil2{
	border: 2px solid black;
}

nom{
    font-weight: bold;
    padding-top: 40px;
    padding-right:20px;
}

.nav-link:hover{
	background-color: inherit !important;
}

.mb{
	margin-bottom: 50px;
}

.bgprofil{
	background-image: url(../images/15.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.algntb{
	text-align: center;
	vertical-align: middle;
}

.mt{
	margin-top: 50px !important;
}

.form1_2{
	/*border:30px solid black;*/
	background-color: white;
	border-top-left-radius: 10%;
	border-bottom-left-radius: 10%;
	height: 700px;
	opacity: 0.8;
	padding: 35px;
}

.form1_1{
	margin-top: 75px;
	background-color: white !important;
	height: 400px;
	/*opacity: 0.7;*/
}