.corps{
	font-family: 'Catamaran', sans-serif;
	color: white;
	/*background-repeat: no-repeat;*/
	background-size: cover ;
	background-image: url(../images/11.JPG);
	background-size:100% ;
}

.brand{
	margin-top: 30px;
	font-size: 30px;
	font-weight: bold;
}

.corp{
	font-family: 'Catamaran', sans-serif;
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/12.JPG);
}

.profil2{
	border: 2px solid black;
}

nav a:hover{
	background-color:#17A2B4 !important;
	border-radius: 10px;
	color: white;
}

nav a:active{
	background-color: blue !important;
	border-radius: 10px;
	color: red !important;
}
.table_bg{
	background-color: rgba(0, 0, 0, 0.3)!important;
	color: white;
}

.mr{
	margin-right: 40px;
}
.retour{
	color: white;
	margin-top: 30px;
}

.av {
	background-color: #668068 !important;
	border-radius: 10px;
	color: white; !important;
}


.mb{
	margin-bottom: 40px;
}



/*fin entete*/

.form1{
	margin-top: 35px;
	background-color: black;
	height: 500px;
	opacity: 0.7;
	border-radius: 15px;
}
.form2{
	margin-top: 50px;
}
.form3{
	margin-top: 50px;
	/*height: 400px;*/
}

.formcon{
	margin-top: 35px;
	background-color: black;
	height: 450px;
	opacity: 0.7;
	border-radius: 15px;
}

.rad{
	margin-left: 230px!important;
}
h3{
	text-align: center;
	margin-top: 50px;
	font-weight: bold;
}
.inpt1, .inpt2, .inpt3, .inpt4, .inpt5{
	border-top:none!important;
	border-left:none!important;
	border-right:none!important;
	background-color:transparent!important;
	/*border-top: hidden!important;

	border-left: hidden!important;

	border-right: hidden!important; */
}

.inpt7{

	background-color: transparent;
}
.sel1, .sel2{
	border-top:none!important;
	border-left:none!important;
	border-right:none!important;
	background-color: transparent;
}
/*.btn{
	background:rgb(119 84 201) ;
	outline: none;
	border:none;
	cursor: pointer;
	border-radius: 20px;
	position: relative;
	box-shadow: 0 6px ;
}*/
.btn:active{
	box-shadow: 0 0 rgb(119 84 201);
	top:6px;
}

#im{
	margin-top: 10px; 
	margin-bottom: 10px;
	height: 120px; 
	width: 120px; 
	border-radius: 50px;
}

.rset:hover{
	background-color:#668068 !important;
}

.rset{
	width: 100px !important;
}


/*table{
	color: black!important;
}*/
@media screen and (max-width: 768px){
	.form1{
	margin-top: -40px;
	
	height: 1000px!important;
	opacity: 0.75;
	}
.corps{
	
	
	background-repeat: no-repeat;
	background-size:cover;
	
}
}
@media screen and (max-width: 1024px){
	.form1{
	margin-top: -40px;
	
	/*height: 500px!important;*/
	opacity: 0.75;
	}
}
